*{
    cursor: url('Cursor.png'),pointer;
}

body{
    background-color: rgb(255, 251, 202);
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
    font-family: Roboto;
}


    
/* ХІДЕР */



header{
    width: 100%;
    height: 100px;
    margin-top: 70px;
    background-color: rgb(255, 245, 64);
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    top: 79px;
    left: 117px;
    
}

.logo:hover{
    transition: 0.7s;
    transform: rotate(360deg) scale(1.1);
}

nav{
    right: 335px;
    top: 80px;
    position: absolute;
}

nav a{
    margin-right: 50px;
    text-decoration: none;
    color: rgb(52, 44, 0);
}

.wrapper{
    max-width: 800px;
    padding: 5px 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.menu{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

nav ul{
    list-style-type: none;
}

.menu>li{
    transition: all 1s;
    background-color: rgb(231, 222, 60);
    color: black;
    padding: 5px;
    border-radius: 10px;
}

.menu>li:hover{
    background-color: rgb(219, 211, 49);
}

.menu>li a{
    color: black;
}

.menu-hidden{
    /* display: none; */
    height: 0;
    width: 0;
    overflow: hidden;
    transition: all 1s;
    width: 30px;
    text-align: center;
}

.menu-hidden>li{
    margin: 5px;
    padding: 5px;
    background-color: rgb(231, 222, 60);
    border-radius: 7px;
}

.menu-hidden>li:hover{
    background-color: white;
    transition: 1s;
}

.menu-hidden>li:hover a{
    /* color: rgb(231, 222, 60); */
    color: black;
}

.menu-li:hover .menu-hidden{
    /* display: block; */
    width: 110px;
    height: 80px;
}



/* МЕЙН */



h1{
    margin-left: 88px;
    margin-top: 102px;
}

.background-pizzeria{
    position: absolute;
    top: 170px;
    width: 100%;
    border-top: 3px solid rgb(223, 219, 178);
    margin-bottom: 50px;
    z-index: -1;
}

.pizzeria{
    position: relative;
    background-color: rgba(199, 194, 193, 0.452);
    width: 600px;
    height: 260px;
    right: -260px;
    border-radius: 20px;
    
}

.verh-site{
    margin-left: 88px;
    margin-top: 49px;
    width: 502px;
    font-size: 24px;
}

.map{
    border-radius: 20px;
    margin-top: 68px;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 1000px;
    top: 168px;
    opacity: 0.8;
}

button{
    margin-left: 74px;
    width: 221px;
    height: 55px;   
    font-size: 20px;
}

.bi{
    color: black;
    font-size: 20px;
    -webkit-text-stroke: 1px;
}

span a{
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.first-button:first-child{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid rgb(82, 82, 82);
    border-top: 2px solid rgb(82, 82, 82);
    padding: 10px 70px 10px 70px;
    margin-left: 85px;
    background-image: linear-gradient(95deg, green, rgb(11, 224, 11));
    box-shadow: 10px 10px 10px rgba(179, 179, 179, 0.774);
}

.first-button:first-child:hover{
    transition: 0.1s ease-in;
    padding: 15px 75px 15px 75px;
}

.last-button:last-child{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid rgb(82, 82, 82);
    border-top: 2px solid rgb(82, 82, 82);
    padding: 10px 80px 10px 80px;
    margin-left: 20px;
    background-image: linear-gradient(95deg, rgb(255, 98, 0), rgb(255, 247, 0));
    box-shadow: 10px 10px 10px rgba(179, 179, 179, 0.774);
}

.last-button:last-child:hover{
    transition: 0.1s ease-in;
    padding: 15px 85px 15px 85px;
}

.h2-menu{
    text-align: center;
    margin-top: 280px;
}

.menu_products{
    text-align: center;
}

article img{
    width: 454px;
    height: 385px;
    margin-top: 86px;
    margin-left: 88px;
    clip-path: circle(45%);
}

.article-child img{
    width: 454px;
    height: 385px;
    margin-top: 86px;
    margin-left: 88px;
    clip-path: circle(45%);
}

.article-child h3{
    margin-right: 20px;
}

.products-drinks{
    margin-top: 700px;
}

.products article{
    margin-left: 10px;
    box-shadow: 10px 10px 10px rgba(179, 179, 179, 0.774);
    border: 5px solid black;
    border-radius: 30px;
    padding-bottom: 20px;
    margin-top: 70px;
    width: 1400px;
    display: flex;
    background-repeat: no-repeat;
    background-color: rgb(255, 249, 162);
    background-image: url(Backgrounds/Untitled1.svg);
}

.article-child{
    position: relative;
    float: right;
    top: -20px;
    margin-bottom: 30px;
    margin-right: 40px;
    border-radius: 30px;
}

.products-drinks article{
    margin-left: 10px;
    box-shadow: 10px 10px 10px rgba(179, 179, 179, 0.774);
    border: 5px solid black;
    border-radius: 30px;
    padding-bottom: 20px;
    margin-top: 70px;
    width: 1400px;
    display: flex;
    background-repeat: no-repeat;
    background-color: rgb(255, 249, 162);
    background-image: url(Backgrounds/UntitledDrinks.png);
}

.grn{
    color: rgb(67, 196, 3);
    font-size: 35px;
}

.grn span{
    color: red;
}

.black{
    color: black;
}

.pizzas{
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 130px;
}

aside{
    width: 190px;
    height: 190px;
    border: 3px solid black;
    border-radius: 100px;
    padding-left: 5px;
    padding-top: 10px;
    margin: 0 40px;
    background: linear-gradient(70deg, rgb(208, 216, 122), rgb(156, 169, 92), rgb(220, 228, 129), rgb(156, 169, 92));
    box-shadow: 10px 10px 10px rgba(179, 179, 179, 0.774);
}

aside:hover{
    transition: 0.5s;
    transform: rotate(360deg) scale(1.3);
}

.asides{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

aside p{
    margin-top: 50px;
    text-align: center;
}

#about-us{
    margin-top: 130px;
}

#about-us p{
    box-shadow: 10px 10px 10px rgba(179, 179, 179, 0.774);
    height: 170px;
    width: 900px;
    background: url(Backgrounds/Untitled2.png);
    padding: 90px 196px;
    margin-left: 20px;
    margin-top: 85px;
    margin-bottom: 193px;
    border: black solid 5px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}



/* ФУТЕР */



footer{       
    margin-bottom: 0;   
    border-top: 2px solid black; 
    border-right: 2px solid black;  
    border-top-right-radius: 50px;
    height: 427px;
    background: url(https://t3.gstatic.com/licensed-image?q=tbn:ANd9GcQcHbxCjB7FY6Rttw1VZFdh0gIZmm4MLLjfmD0dhA11saxBKG_D49VVkmlvz3sE71-b);
}

footer b{
    position: relative;
    top: 3px;
    margin-top: 69px;
    margin-left: 2px;
}

footer div{
    position: relative;
    top: -201px;
    margin-top: 68px;
    margin-left: 88px;
}

footer img{
    width: 100px;
    border-radius: 100px;
    margin-left: 10px;
}

.inst{
    width: 85px;
}

.logo-footer{
    position: relative;
    width: 200px;
    height: 200px;
    left: 795px;
    top: 97px;
    
}

.number{
    color: blue;
    text-decoration: underline;
}

.bi-airplane{
    font-size: 40px;
    position: relative;
    top: -190px;
    left: -80px;
}

.start{
   width: 20px; 
}

.to_start {
    position: relative;
    bottom: 200px;
    left: -78px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}



/* МЕДІАДАНІ */



@media (max-width: 960px) {
    .logo, .wrapper nav{
        position: static;
    }

    header{
        height: auto;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1050px) {
    .map{
        left: 900px;
        width: 300px;
        height: 300px;
    }

    .verh-site, .first-button, .last-button{
        margin-left: 88px;
        width: 270px;
        font-size: 15px;
        margin-left: 40px;
    }

    .pizzeria{ 
        width: 550px;
        height: 199px;
        position: relative;
        left: 150px;
    }

    .pizzeria_title{
        font-size: 30px;
        margin-left: 35px;
    }

    .buttons{
        margin-left: -45px;
    }
}

@media (max-width: 1490px) {
    .products article, article-child{
        width: 1300px;
    }

    .logo-footer {
        width: 190px;
        height: 190px;
        left: 685px;
    }

    .map{
        left: 870px;
        width: 300px;
        height: 300px;
    }

    .pizzeria{
        left: 90px;
    }
}

@media (max-width: 1390px) {
    .products article, article-child{
        width: 1200px;
    }

    .article-child img{
        float: left;
        width: 363px;
        height: 355px;
    }

    .logo-footer {
        width: 190px;
        height: 190px;
        left: 635px;
    }

    .map{
        opacity: 0;
    }

    .pizzeria{
        left: 50px;
    }
}

@media (max-width: 1290px) {
    .products article{
        width: 1100px;
    }

    .article-child{
        float: left;
    }

    .article-child img{
        float: left;
    }

    .logo-footer {
        width: 190px;
        height: 190px;
        left: 575px;
    }
}

@media (max-width: 1190px) {
    .products article, article-child{
        width: 1000px;
    }

    .article-child{
        float: left;
    }

    .article-child img{
        float: left;
        position: relative;
        bottom: 20px;
    }

    .logo-footer {
        width: 190px;
        height: 190px;
        left: 535px;
    }
}

@media (max-width: 1090px) {
    .products article, article-child{
        width: 900px;
        height: 480px;
    }

    .article-child{
        float: left;
    }

    .article-child img{
        float: left;
        position: relative;
        bottom: 30px;
    }

    .logo-footer {
        width: 190px;
        height: 190px;
        left: 475px;
    }
}

@media (max-width: 990px) {
    .products article, article-child{
        width: 800px;
        height: 460px;
    }

    .article-child{
        float: left;
    }

    .article-child img{
        float: left;
        position: relative;
        bottom: 40px;
    }

    .logo-footer {
        width: 190px;
        height: 190px;
        left: 435px;
    }
}

@media (max-width: 890px) {
    .products article, article-child{
        width: 700px;
        height: 430px;
    }

    .article-child{
        float: left;
    }

    .article-child img{
        float: left;
        position: relative;
        bottom: 45px;
    }

    .logo-footer {
        width: 190px;
        height: 190px;
        left: 330px;
    }
}

@media (max-width: 790px) {
    .products article, article-child{
        width: 600px;
        height: 420px;
    }

    .article-child{
        float: left;
    }

    .article-child img{
        float: left;
    }

    .logo-footer {
        opacity: 0;
    }
}

@media (max-width: 690px) {
    .products article, article-child{
        width: 500px;
    }

    .article-child{
        float: left;
    }

    .article-child img{
        float: left;
    }
}

@media (max-width: 590px) {
    .products article, article-child{
        width: 400px;
        font-size: 18px;
    }

    .article-child{
        float: left;
    }

    .article-child img{
        float: left;
    }
}